:root {
  --clr-primary-dark-blue: hsl(238, 29%, 16%);
  --clr-primary-soft-red: hsl(14, 88%, 65%);
  --clr-neutral-darker-grayish-blue: hsl(237, 12%, 33%);
  --clr-neutral-dark-grayish-blue: hsl(240, 6%, 50%);
  --clr-light-grayish-blue: hsl(240, 5%, 91%);
  --clr-bg-soft-violet: hsl(273, 75%, 66%);
  --clr-bg-soft-blue: hsl(240, 73%, 65%);
  --font-normal: 400;
  --font-bold: 700;
  --font-family: "Kumbh Sans";
}

html {
  font-size: 100%;
}

body {
  background-color: var(--clr-bg-soft-violet);
  background-image: linear-gradient(
    160deg,
    var(--clr-bg-soft-violet),
    var(--clr-bg-soft-blue)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family), sans-serif;
  font-size: 12px;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.faq {
  width: 100%;
  margin-top: 7.5rem;
  background-color: ivory;
  padding: 0 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.5rem;
  color: var(--clr-neutral-darker-grayish-blue);
  z-index: 1;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.images {
  margin-top: -7rem;
}

img {
  vertical-align: center;
  z-index: 2;
}

.illustration-mobile {
  margin: 0 auto;
  transform: translateX(-5%);
}

.pattern-mobile {
  margin: 0 auto;
  margin-top: -5.5rem;
}

.illustration-desktop {
  display: none;
}
.pattern-desktop {
  display: none;
}
.box-desktop {
  display: none;
}

.faqs {
  width: 100%;
  margin-top: 1rem;
}

h1 {
  text-transform: uppercase;
  color: var(--clr-primary-dark-blue);
  text-align: center;
  font-weight: var(--font-bold);
  font-size: 32px;
}

ul {
  width: 100%;
  padding: 0;
}

li {
  list-style: none;
  margin: 0.875rem 0 0.875rem 0;
}

h3 {
  font-weight: var(--font-normal);
}

li:hover {
  color: var(--clr-primary-soft-red);
  cursor: pointer;
}

.hide {
  display: none;
}

.bold {
  font-weight: var(--font-bold);
}

hr {
  height: 1px;
  color: var(--clr-light-grayish-blue);
  border-width: 0;
  background-color: var(--clr-light-grayish-blue);
  border-radius: 1px;
}

.arrow {
  float: right;
  margin-top: 4px;
}

.rotate {
  transform: rotate(180deg);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-light-grayish-blue);
}
.attribution a {
  color: var(--clr-light-grayish-blue);
}

@media screen and (min-width: 1200px) {
  .container {
    width: 890px;
    position: relative;
  }

  .faq {
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 0 3rem 0;
    overflow: hidden;
  }

  .illustration-mobile {
    display: none;
  }
  .pattern-mobile {
    display: none;
  }

  .images {
    margin: 0;
    display: block;
    width: 100%;
    position: relative;
  }

  .illustration-desktop {
    display: block;
    position: absolute;
    transform: translateX(-20%);
  }

  .pattern-desktop {
    display: block;
    position: absolute;
    transform: translate(-20%, -10%);
  }

  .box-desktop {
    display: block;
    position: absolute;
    transform: translate(-50%, 150%);
    z-index: 3;
  }

  .faqs {
    padding-right: 5rem;
  }

  h1 {
    text-align: left;
  }
}
